* {
    margin: 0;
    font-family: 'Outfit';
    
}

body{
    background-color: #d8e4ff;
}

/* HEADER */
.header {
    width: 100%;
    height: 15vh;
    background-color: #140f2d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linksContainer {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.navBarLink>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
    text-decoration: none;
    color: #d8e4ff;
}

.navBarLink>a>img {
    width: 40px;
}

.header>img {
    width: 6%;
    margin-left: 30px;
}

.exitButton {
    background-color: #d8e4ff;
    color: #140f2d;
    padding: 8px;
    border-radius: 10px;
    width: 80px;
}

.exitButton>a {
    width: 100%;
    text-decoration: none;
    color: #140f2d;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.exitButton:hover {
    cursor: pointer;
}

.exitButton:active {
    background-color: #f3f6ff;
}

/* MAIN CONTENT */
.mainSection {
    background-color: #d8e4ff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainSection>h1 {
    font-weight: 500;
}

.titleContainer {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsContainer {
    display: flex;

}

.cardLink {
    width: 28vw;
    height: 65vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #140f2d;
    color: #d8e4ff;
    margin: 20px;
    font-size: 40px;

}

.cardLink>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #d8e4ff;
}

.cardLink>a>img {
    width: 200px;
}

/* ALUNOS PAGE */
.topItens {
    margin: 20px;
    width: 91%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topItens>p {
    margin-left: 10px;
    font-size: 40px;
}

.filterSection {
    display: flex;
    align-items: center;
}

.filterSection>img {
    width: 24px;
}

.filterSection>select {
    background-color: #140f2d;
    border: none;
    width: 120px;
    height: 25px;
    border-radius: 10px;
    color: #d8e4ff;
    margin-left: 5px;
}

.addButton {
    margin-right: 10px;
    background-color: #140f2d;
    color: #d8e4ff;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    height: 25px;
}

.addButton>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d8e4ff;
}

.addButton>a>img {
    width: 24px;
}

.containerAlunos>a {
    text-decoration: none;
}

.divAluno {
    margin: 30px 0px;
    background-color: #140f2d;
    width: 90vw;
    height: fit-content;
    border-radius: 20px;
    color: #d8e4ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topoAluno {
    font-size: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topoAluno>p , .topoAluno>div>p{
    margin-left: 40px;
}

.topoAluno>p:hover,
.imgsContainer>img:hover {
    cursor: pointer;
}

.alunoBottom {
    padding: 10px;
    display: flex;
    justify-content: flex-start
}

.alunoBottom>p {
    margin-left: 40px;
}

/* CADASTRAR ALUNO */

.mainRegister {
    background-color: #d8e4ff;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainRegister>h1 {
    margin: 30px 0 10px 0;
    font-weight: 500;
}

.registerForm {
    background-color: #140f2d;
    width: 40%;
    height: 90vh;
    color: #d8e4ff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
}

.formCadastro {
    height: 60vh;
}

.inputField {
    font-size: 25px;
}

.inputField>input,
.inputField>select {
    margin: 5px;
    background-color: #d8e4ff;
    border: none;
    border-radius: 10px;
    width: 30vw;
    height: 60px;
}

.registerForm>button {
    margin-top: 20px;
    background-color: #016fb9;
    border: none;
    height: 40px;
    border-radius: 10px;
    color: #d8e4ff;
    font-size: 18px;
    font-weight: bold;
}

.registerForm>button:hover {
    cursor: pointer;
    background-color: #d8e4ff;
    color: #140f2d;
}

/* Historico aluno */

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8e4ff;
    height: 85vh;
}

.mainContent>h1{
    margin: 30px 0 10px 0;
}

/* REMOVER ALUNO */

.removeCard {
    height: 40vh;
    font-size: 20px;
}

.btnsContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#btnRemover{
    background-color: #d40606;
}

#btnCancelar{
    background-color: #6d6d6d;
}

.btnsContainer>button {
    margin-top: 20px;
    background-color: #016fb9;
    border: none;
    height: 40px;
    border-radius: 10px;
    color: #d8e4ff;
    font-size: 18px;
    font-weight: bold;
}

.btnsContainer > button:hover{
    cursor: pointer;
}

/* RELATÓRIOS */

.contentContainer {
    display: flex;
    height: 85vh;
    width: 100%;
}

/* CHARTS E KPIS */

.chartSection {
    background-color: #d8e4ff;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chartContainer {
    border-radius: 20px;
    background-color: #140f2d;
    margin-top: 25px;
    width: 87%;
    height: 70%;
    color: #d8e4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.kpisContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20%;
}

.kpiCard {
    padding: 3px;
    border-radius: 20px;
    background-color: #140f2d;
    color: #d8e4ff;
    margin: 10px;
    width: 21.8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.responseKpi {
    font-size: 30px;
}


/* Menu de links de charts */
.chartsMenu {
    background-color: #016fb9;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chartLink {
    background-color: #140f2d;
    color: #d8e4ff;
    width: 70%;
    height: 15%;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 15px;
    padding: 0px 20px;
}

.chartLink:hover {
    cursor: pointer;
}

.chartLink>img {
    width: 20%;
    margin: 0px 20px 0 0;
}